{{page-title "Posts"}}

<section class="blog home-articles">
    {{#each @model as |post|}}
        <article itemid='post-{{post.id}}' itemscope itemtype="http://schema.org/Article" class="post card">
        <div class="card-body">
                <h5 itemprop="name" class="card-title">
                    <LinkTo @route="posts.show" @model={{post.id}}>{{post.title}}</LinkTo>
                </h5>
                <h6 itemprop="author" itemscope itemtype="http://schema.org/Person" class="card-subtitle">
                    By: 
                    <LinkTo @route="posts.user" @model={{post.user.id}}>{{post.user.username}}</LinkTo>&nbsp;
                    <small style="font-weight: normal">({{post.user.name}})</small>            
                </h6>
                <p class="card-text crop">{{post.body}}</p>
            </div>
        </article>
    {{/each}}
</section>
{{outlet}}